.version.log_in /* version checker */
{
	color: #000019;
	background-color: #F8B175;
}

.html
{
	background: #FFFFFF url("../images/grey-with-bubbles.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 533.8005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u396
{
	z-index: 40;
	width: 269px;
	height: 131px;
	top: 0px;
	left: 0px;
}

#pamphletu126
{
	z-index: 2;
	width: 0.01px;
	height: 45px;
	padding-bottom: 263px;
	margin-left: 1000px;
}

#u127
{
	z-index: 3;
	width: 60px;
	padding-bottom: 45px;
	margin-right: -10000px;
}

#u128
{
	width: 49px;
	top: 0px;
	right: 0px;
	padding: 8px 6px 8.349999999999994px 5px;
}

#u128.PamphletThumbSelected
{
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	z-index: 5;
	width: 49px;
	height: 6px;
}

#u128.PamphletThumbSelected #u141
{
	width: 49px;
	height: 6px;
	min-height: 0px;
	margin: 0px;
}

#u142
{
	z-index: 6;
	width: 49px;
	height: 6px;
	margin-top: 6px;
}

#u128.PamphletThumbSelected #u142
{
	width: 49px;
	height: 6px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u143
{
	z-index: 7;
	width: 49px;
	height: 6px;
	margin-top: 5px;
}

#u128.PamphletThumbSelected #u143
{
	width: 49px;
	height: 6px;
	min-height: 0px;
	margin: 5px 0px 0px;
}

#u135popup
{
	z-index: 8;
}

#u135
{
	width: 173px;
	top: 45px;
	right: 1px;
}

#u137
{
	z-index: 9;
	width: 173px;
	height: 224px;
	margin-right: -10000px;
}

#menuu144
{
	z-index: 10;
	width: 138px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 25px;
}

#u145
{
	width: 138px;
}

#u146
{
	width: 138px;
	min-height: 17px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u146:hover
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u146:active
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u148-4
{
	width: 138px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
}

#u146:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u146:active #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u176
{
	width: 138px;
	min-height: 17px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u146.MuseMenuActive,#u176:hover
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u176:active
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u177-4
{
	width: 138px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
}

#u146.MuseMenuActive #u148-4,#u176:hover #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u176:active #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u413
{
	width: 138px;
	min-height: 17px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u176.MuseMenuActive,#u413:hover
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u413:active
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u415-4
{
	width: 138px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
}

#u176.MuseMenuActive #u177-4,#u413:hover #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u413:active #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u173,#u410,#u417
{
	width: 138px;
	margin-top: 2px;
}

#u418
{
	width: 138px;
	min-height: 17px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u413.MuseMenuActive,#u418:hover
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u418:active
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u418.MuseMenuActive
{
	width: 138px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u421-4
{
	width: 138px;
	min-height: 17px;
	margin-right: -10000px;
	top: 11px;
}

#u413.MuseMenuActive #u415-4,#u418:hover #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u418:active #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u418.MuseMenuActive #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 138px;
	margin: 0px -10000px 0px 0px;
}

#u139
{
	width: 33px;
	padding-bottom: 5px;
	top: 278px;
	left: 259px;
}

#u139:hover
{
	width: 33px;
	min-height: 0px;
	margin: 0px;
}

#u139:active
{
	width: 33px;
	min-height: 0px;
	margin: 0px;
}

#u140-4
{
	z-index: 36;
	width: 20px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u486-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-left: 419px;
	top: -195px;
	margin-bottom: -36px;
	position: relative;
}

#u484
{
	z-index: 41;
	width: 543px;
	height: 398px;
	margin-left: 221px;
	top: -117px;
	margin-bottom: -117px;
	position: relative;
}

.ie #u484
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

