#u396
{
	position: fixed;
	background: transparent url("../images/pplogofw.png") no-repeat center center;
	background-size: contain;
}

#pamphletu126,#u127
{
	position: relative;
}

#u128
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u141
{
	background-color: #0E0200;
	position: relative;
}

#u142
{
	background-color: #0E0200;
	position: relative;
}

#u143
{
	background-color: #0E0200;
	position: relative;
}

#u135
{
	background-color: transparent;
	position: fixed;
}

#u137,#menuu144
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u146
{
	background-color: #BE3830;
	position: relative;
}

#u146:hover
{
	background-color: #FD001C;
}

#u146:active
{
	background-color: #6B6B6B;
}

#u148-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u176
{
	background-color: #BE3830;
	position: relative;
}

#u146.MuseMenuActive,#u176:hover
{
	background-color: #FD001C;
}

#u176:active
{
	background-color: #6B6B6B;
}

#u177-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u413
{
	background-color: #BE3830;
	position: relative;
}

#u176.MuseMenuActive,#u413:hover
{
	background-color: #FD001C;
}

#u413:active
{
	background-color: #6B6B6B;
}

#u415-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u145,#u173,#u410,#u417
{
	background-color: transparent;
	position: relative;
}

#u418
{
	background-color: #BE3830;
	position: relative;
}

#u413.MuseMenuActive,#u418:hover
{
	background-color: #FD001C;
}

#u418:active
{
	background-color: #6B6B6B;
}

#u418.MuseMenuActive
{
	background-color: #FD001C;
}

#u421-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u139
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #BE3830;
}

#u139:hover
{
	border-color: #6B6B6B;
	background-color: #FD001C;
}

#u139:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u140-4
{
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

