#u128
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u141
{
	background-color: #0E0200;
}

#pamphletu126,#u127,#pu128:hover #u141
{
	position: relative;
}

#u142
{
	background-color: #0E0200;
}

#pu128 #u141,#pu128:hover #u142
{
	position: relative;
}

#u143
{
	background-color: #0E0200;
}

#pu128 #u142,#pu128:hover #u143
{
	position: relative;
}

#pu128 #u143
{
	position: relative;
}

#pu128:hover #u128
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
}

#u135
{
	position: absolute;
	background-color: transparent;
}

#u137,#menuu144
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u146
{
	background-color: #C4C4C4;
	position: relative;
}

#u146:hover
{
	background-color: #999999;
}

#u146:active
{
	background-color: #6B6B6B;
}

#u148-5
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u176
{
	background-color: #C4C4C4;
	position: relative;
}

#u146.MuseMenuActive,#u176:hover
{
	background-color: #999999;
}

#u176:active
{
	background-color: #6B6B6B;
}

#u177-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u169
{
	background-color: #C4C4C4;
	position: relative;
}

#u176.MuseMenuActive,#u169:hover
{
	background-color: #999999;
}

#u169:active
{
	background-color: #6B6B6B;
}

#u170-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u83,#u145,#u173,#u166,#u159
{
	background-color: transparent;
	position: relative;
}

#u162
{
	background-color: #C4C4C4;
	position: relative;
}

#u169.MuseMenuActive,#u162:hover
{
	background-color: #999999;
}

#u162:active
{
	background-color: #6B6B6B;
}

#u162.MuseMenuActive
{
	background-color: #999999;
}

#u163-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u139
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
}

#u139:hover
{
	border-color: #6B6B6B;
	background-color: #999999;
}

#u139:active
{
	border-color: #6B6B6B;
	background-color: #6B6B6B;
}

#u140-4
{
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #110B00;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

